{
  "extends": "eslint-config-egg",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "strict": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
}
